{{ define "main" }}
<div class="hx-mx-auto hx-flex hx-max-w-[90rem]">
  {{ partial "hamburger-menu.html" . }}
  <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
    <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
      <br class="hx-mt-1.5 hx-text-sm">
      <h1 class="hx-text-center hx-mt-2 hx-text-4xl hx-font-bold hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100">{{ .Title }}</h1>
      <div class="content hx-mt-6">
        {{ .Content }}
      </div>
      
      {{ if .Pages }}
      {{ range .Pages }}
      <div class="hx-mb-10">
        <h3>
          <a style="color: inherit; text-decoration: none;" class="hx-block hx-font-semibold hx-mt-8 hx-text-2xl" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h3>
        <p class="hx-opacity-80 hx-mt-4 hx-leading-7">
          {{ $content := .Plain }}
          {{ $sentences := split $content "." }}
          {{ if gt (len $sentences) 0 }}
            {{ $firstSentence := index $sentences 0 }}
            {{ $firstSentence | truncate 200 }}.
          {{ end }}
        </p>
        <p class="hx-opacity-80 hx-mt-1 hx-leading-7">
          <a class="hx-text-[color:hsl(var(--primary-hue),100%,50%)] hx-underline hx-underline-offset-2 hx-decoration-from-font" href="{{ .RelPermalink }}">Read more →</a>
        </p>
        <p class="hx-opacity-50 hx-text-sm hx-mt-4 hx-leading-7">{{ .Date.Format "January 2, 2006" }}</p>
      </div>
      {{ end }}
      {{ end }}
    </main>
  </article>
  <div class="max-xl:hx-hidden hx-h-0 hx-w-64 hx-shrink-0"></div>
</div>
{{ end }} 